img.male.avatar {
    height: 24px;
}
img.female.avatar {
    height: 24px;
}
.form-control {
    width: 50%
}
.form-control-short {
    width: 20%
}


/* Drawing area properties. */
.drawing-area {
    position: relative;
    user-select: none;
}

/* Box properties and their variants. */
.box {
    border: thin solid black;
    position: absolute;
}

.box-highlight {
    box-shadow: 0px 0px 6px #88F;
}

.box-highlight-red {
    box-shadow: 0px 0px 6px #FF0000;
}

#trash-bin {
    position: absolute;
    height: 50px;
    left: 520px;
    top: 520px;

}

.trash-highlight {
    box-shadow: 0px 0px 6px #00ff06;
}

#drawing-area {
    border: 1px solid black;
    width: 200px;
    height: 200px;
}
#Bag {
    /*float: right;*/
    top: 5px;
    right: 5px;
    border: 1px solid black;
    width: 200px;
    height: 200px;

}
#item-spawn-zone {
    height: 400px;
}