img.male.avatar {
    height: 24px;
} /* JD: 15 */
img.female.avatar {
    height: 24px; /* JD: 16 ...consider conslidating under just img.avatar */
}
.form-control {
    width: 50%
}
.form-control-short {
    width: 20%
}

